.article {
  padding: 20px 0;
}

.article__item {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 30%;
  float: left;
  margin-right: 2%;
  overflow: hidden;
}

.article__top {
  font-size: 15px;
  line-height: 30px;
}

.article__name {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 4px;
}

.article__time {
  color: #999
}

.article__tag {
  padding: 0 5px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #999;
  border-radius: 4px;
  margin-right: 8px;
  margin-top: 3px;
}

.article__watch {
  padding-left: 25px;
  background: url('./images/watch.png') no-repeat left center;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.comment__form {
  width: 600px;
  padding-top: 30px;
}

.comment__form-title {
  font-size: 16px;
  line-height: 26px;
  color: #000;
  margin-bottom: 10px;
}

.comment__form-name {
  margin-bottom: 10px;
}

.comment__form-content {
  margin-bottom: 10px;
}

.article__img {
  width: 100%;
  padding-bottom: 80%;
  transition: transform .3s;
}

.article__content {
  background: #fff;
  padding: 10px;
}

.article__intro {
  font-size: 14px;
  color: #666;
  line-height: 20px;
  min-height: 20px;
  margin-bottom: 0;
  margin-top: 6px;
}

.article__img-box {
  overflow: hidden;
}

.article__item:hover .article__img {
  transform: scale(1.2);
}